.header{
    background-color:#153448;
    text-align: center;
    font-weight: bold;
    height: 50px;
    padding: 10px;
    font-size: 2em;
    color: aliceblue;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}